<form class="form upcoming-Events" id={{id}}>
<div>
<h2>Event Details</h2>
  <img src="/images/{{picture}}" alt="{{name}}">
</div>
<div>
<h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Event Date: {{format_date date_start}}</p>
  <p>From {{format_time time_start}} to {{format_time time_end}}</p>
</div>
<div> 
  <button class="btn btn-primary" type="submit">Join</button>
</div>
</form>

<script src="/js/signup.js"></script>