<div id="feature">
  <img id="featureImage" src="/images/{{picture}}" alt="{{name}}">
  <div id="featureDescription">
    <h2>{{name}}</h2>
    <p>{{description}}</p>
    <h3>Event Date: {{format_date date_start}}</h3>
    <h3>From {{format_time time_start}} to {{format_time time_end}}</h3>
    <button class="featureJoinButton" id="{{id}}" type="submit">
      Join The Event ⟶
    </button>
  </div>

<script src="/js/signup.js"></script>