<div id="events">
        {{#each eventsList as |event|}}
        <div class="upcomingEvent">
                <div class="eventImage">
                        <img src="/images/{{event.picture}}" alt="{{event.name}}">
                        <div class="upcomingDateCard">
                                <p>{{format_date date_start}}</p>
                        </div>
                </div>
                <div class="eventDescription">
                        <h2>{{event.name}}</h2>
                        <p>{{event.description}}</p>
                        <a href="/events/{{id}}" id="{{id}}" type="submit" class="eventJoin">
                                View This Event ⟶
                        </a>
                </div>
        </div>
        {{/each }}
</div>

{{!-- <script src="/js/signup.js"></script> --}}