<h1>Event Details</h1>

<div class="event-details">
  <img src="/images/{{picture}}" alt="{{name}}">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Start Date: {{date_start}}</p>
  <p>End Date: {{date_end}}</p>
</div>

