<div id="events">
        {{#each eventsList as |event|}}
        <div class="upcomingEvent">
                <div class="eventImage">
                        <img src="/images/{{event.picture}}" alt="{{event.name}}">
                        <div class="upcomingDateCard">
                                <h2>JUL</h2>
                                <h2>20</h2>
                        </div>
                </div>
                <div class="eventDescription">
                        <h2>{{event.name}}</h2>
                        <p>{{event.description}}</p>
                        <button id="{{id}}" type="submit" class="eventJoin">
                                Join The Event ⟶
                        </button>
                </div>
        </div>
        {{/each }}
</div>

<script src="/js/signup.js"></script>