<!--loop through each event into a list with event name des... this handlebars is for upcoming events. -->
  <div id="events">
    <h1>Upcoming Events</h1>
      <ul>
        {{#each events}}
          <li>
            <h3>{{name}}</h3>
            <p>{{description}}</p>
            <p>Start Date: {{date_start}}</p>
            <p>End Date: {{date_end}}</p>
            <a href="/items/{{id}}">View Items</a>
        </li>
      {{/each}}
      </ul>
  </div>
   
