<body> 
        <div id="feature">
            <img id="featureImage" src="/images/AnimalShelter.jpg">
            <div id="featureDescription">
                <h2>
                    Animal Shelter Support
                </h2>
                <p>
                    Volunteering your time and love can make a big difference in the lives of these animals, providing essential care and helping them find forever homes. Every moment spent at the shelter is filled with joy and fulfillment as you witness the positive impact you're making. Join us in creating a compassionate community for these furry friends and consider becoming a volunteer today!
                </p>
                <a href="/events/4" id="featureJoin">
                    View This Event ⟶
                </a>
            </div>
        </div>
        <div id="upcoming">
            <div class="upcomingCard">
                <h1>Upcoming Events</h1>
                <a class="zoom" id="upcomingEventsLink" href="/events">View All</a>
            </div>
            <div class="upcomingCard">
                <img src="./Photos/Beach Cleanup.jpg">
                <div class="upcomingDateCard">
                    <h2>JUL</h2>
                    <h2>20</h2>
                </div>
                <h2>Beach Clean Up</h2>
                <h3>July 20th</h3>
            </div>
            <div class="upcomingCard">
                <img src="./images/social_1.png">
                <div class="upcomingDateCard">
                    <h2>JUL</h2>
                    <h2>23</h2>
                </div>
                <h2>Prom Chaperone</h2>
                <h3>July 23rd</h3>
            </div>
            <div class="upcomingCard">
                <img src="./images/food_1.png">
                <div class="upcomingDateCard">
                    <h2>JUL</h2>
                    <h2>25</h2>
                </div>
                <h2>Food Drive</h2>
                <h3>July 25th</h3>
            </div>
        </div>
        <div id="quote">
            <h1>
                "Volunteers are the unsung heroes who write love stories on the pages of people's lives."
            </h1>
            <h2>
                — Aquila Veritas
            </h2>
        </div>
        <div id="gallery">
            <img src="/Photos/Volunteer 2.jpg">
            <img src="./Photos/Volunteer 1.jpg">
        </div>
  <!-- Loop over each object in the events array -->
  {{#each events as |event| }}
  <div class="row mb-4 event">
    <div class="col-md-5">
      <h2>
        <!-- Call helper function with triple brackets to render the emoji span as HTML -->
        {{{get_emoji}}}
        <a href="/event/{{event.id}}">{{event.name}}</a>
      </h2>
      <p>
        <span for="img" aria-label="money">💲</span>
        <!-- Pass needed_volunteers value to the helper function -->
        <span class="volunteer-amount">{{format_amount event.needed_volunteers}}</span>
        needed!
      </p>
      <p>Created by {{event.member.name}} on {{format_date event.date_created}}</p>
    </div>
    <div class="col-md-7">
      <p>
        {{event.description}}
      </p>
    </div>
  </div>
  {{/each}}
        
</body>