
 <h2>Welcome, {{memberData.first_name}}!</h2>
    <div id="profile">
            <h1>Profile</h1>
            <div class="profileCategory" id="profilePersonal">
                <div class="profileItem">
                    <h2>Name</h2>
                     <p>{{memberData.first_name}} {{memberData.last_name}}</p>
                </div>
                <div class="profileItem">
                    <h2>Date of Birth</h2>
                    <p>{{memberData.dateOfBirth}}</p>
                </div>
                <div class="profileItem">
                    <h2>Total Hours</h2>
                    <p>{{memberData.totalHours}} hours</p>
                </div>
                <div class="profileItem">
                    <h2>Contact Info</h2>
                    <p>{{memberData.phoneNumber}}</p>
                    <p>{{memberData.email}}</p>
                </div>
            </div>
            {{!-- {{#if currentEvents.length|event }}
            <h1>Current Volunteer Events</h1>
            <div class="profileCategory" id="profileEvents">
                {{#each currentEvents as |event|}}
                    <div class="eventCard">
                        <img src="{{event.image}}">
                        <div class="eventDateCard">
                         <h2>{{name}}</h2>
                         <h2>{{event.day}}</h2>
                         <h2>{{event.month}}</h2>
                         <h3>{{event.date}}</h3>
                    </div>
                 {{/each}}  
            </div>
            {{/if}}
            {{#if pastEvents.length}}
            <h1>Past Volunteer Events</h1>
            <div class="profileCategory" id="previousEvents">
                {{#each pastEvents as |event|}}
                <div class="eventCard">
                    <img src="{{event.image}}">
                    <div class="eventDateCard">
                        <h2>{{event.name}}</h2>
                        <h2>{{event.date}}</h2>
                    </div>
                        <h2>{{event.month}}</h2>
                        <h3>{{event.day}}</h3>
                </div>
                {{/each}}
            </div>
            {{/if}} --}}
            
<script src="/js/profile.js"></script>
